# Dependencias
node_modules/

# Variables de entorno (NUNCA subir a Git)
.env
docs/keys.txt

# Base de datos local
server/database.sqlite

# Uploads
server/uploads/

# Logs
server/server.log

# Build
dist/
